<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panamana.sharetaxi"
    android:versionCode="3"
    android:versionName="1.2" >

    <!-- SDK Version -->
    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="19" />

    <!-- Permissions -->
    <permission
        android:name="com.panamana.sharetaxi.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Features -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- Application -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <meta-data 
     		android:name="android.app.default_searchable"
     		android:value="com.panamana.sharetaxi.controller.activities.MapActivity" />

        <!-- Activities -->
      
		<!-- Maps -->      
        <activity
            android:name="com.panamana.sharetaxi.controller.activities.MapActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
        </activity>
        
        <!-- Static Data -->
        <activity
            android:name="com.panamana.sharetaxi.controller.activities.StaticDataActivity"
            android:label="@string/title_activity_results"
            android:parentActivityName="com.panamana.sharetaxi.controller.activities.MapActivity"
            android:theme="@style/Theme.AppCompat" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.panamana.sharetaxi.controller.activities.MapActivity" />
        </activity>
        
        <!-- Settings -->
        <activity
            android:name="com.panamana.sharetaxi.controller.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.panamana.sharetaxi.controller.activities.MapActivity"
            android:theme="@style/Theme.AppCompat" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.panamana.sharetaxi.controller.activities.MapActivity" />
        </activity>

        <!-- Meta-Data -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/app_api_key" />
    </application>

</manifest>